@model GameTournament.Models.Gamer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gamer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GamerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InGameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InGameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teamname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefferedgame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefferedgame)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GamerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
